SUPABASE_URL=
SUPABASE_SERVICE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_STARTER_PRICE=price_1TEP9mBVOMJTwlq1LnkpaaXH
STRIPE_PRO_PRICE=price_1TEP9nBVOMJTwlq1AsNSiqCd
STRIPE_AGENCY_PRICE=price_1TEP9nBVOMJTwlq1Ta0wBwjd
STRIPE_TOPUP_500=price_1TEP9oBVOMJTwlq1UIoVwhTv
STRIPE_TOPUP_1500=price_1TEP9oBVOMJTwlq11ED5EViJ
STRIPE_TOPUP_3000=price_1TEP9oBVOMJTwlq1wgfx5Fov
RAPIDAPI_KEY=
TRANSCRIPT24_TOKEN=
PERPLEXITY_KEY=
PORT=3000
APP_URL=http://localhost:3000
